<div class="banner">
    <ul>
        <li><a href=""></a></li>
    </ul>
</div>
<div class="main">
    <div class="mainTop">
        <div class="inner">
            <h2>关于我们</h2>
            <h3>school survey</h3>
            <div class="content clearFloat">
                <img src="images/manTop_1.jpg">
                <div class="txt fr">
                    <h4>学校概况</h4>
                    <p>我们决心按照孩子的发展规律来设计我们的教育，并且尊重每一个个体的发展需求。美乐宝幼儿园的教育不是为了给成人带来欣慰而设计的教育，而是需要所有的成人付出的时间和心力帮助孩子持续建构起支持孩子一生生活能力的教育。<br>乐宝幼儿园的教育目标：健康、快乐、智慧的宝贝</p>
                    <a class="white" href="#">查看详情 &gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mainCen">
        <div class="inner">
            <h2>新闻资讯</h2>
            <h3>news</h3>
            <ul>
                <li><img src="images/mainCen01.jpg"><h5>外教英语</h5><span>外教英语外教英语</span></li>
                <li><img src="images/mainCen02.jpg"><h5>科学课</h5><span>科学课科学课</span></li>
                <li><img src="images/mainCen03.jpg"><h5>绘本课</h5><span>绘本课绘本课</span></li>
                <li><img src="images/mainCen04.jpg"><h5>快乐萌芽</h5><span>快乐萌芽快乐萌芽</span></li>
                <li class="btn btnLeft">&lt;</li>
                <li class="btn btnRight">&gt;</li>
            </ul>
        </div>
    </div>
    <div class="mainBot">
        <div class="inner">
            <h2>班级明星</h2>
            <h3>class stars</h3>
            <ul>
                <li><img src="images/mainBot.jpg"><h5>陈晓安</h5></li>
                <li><img src="images/mainBot.jpg"><h5>陈晓安</h5></li>
                <li><img src="images/mainBot.jpg"><h5>陈晓安</h5></li>
                <li><img src="images/mainBot.jpg"><h5>陈晓安</h5></li>
            </ul>
        </div>
    </div>
</div>